.cards {
  display: grid;
  grid-template-columns: 1fr 1fr; // Force les deux colonnes
  gap: 20px;
}

.card-category {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
